﻿@using Microsoft.AspNetCore.Identity
@using ToDoAppApi.Model

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManeger

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var girisYapanKullanici = await UserManager.GetUserAsync(User);
            var kullanicininTanimlandigiRoller = await UserManager.GetRolesAsync(girisYapanKullanici);

            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Merhaba
                    <b>@girisYapanKullanici.FullName</b>
                </a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <b>Rol:</b>
                    
                    @kullanicininTanimlandigiRoller.FirstOrDefault()
                </a>
            </li>

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
